doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title
        script(src='/jquery.slim.min.js', crossorigin='anonymous', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN')
        script(src='/umd/popper.min.js', crossorigin='anonymous')
        script(src='/js/bootstrap.min.js', crossorigin='anonymous', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/style.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='apple-touch-icon', sizes='180x180', href='/favicons/apple-touch-icon.png?v=OmyMBLenQW')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicons/favicon-32x32.png?v=OmyMBLenQW')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicons/favicon-16x16.png?v=OmyMBLenQW')
        link(rel='manifest', href='/favicons/manifest.json?v=OmyMBLenQW')
        link(rel='mask-icon', href='/favicons/safari-pinned-tab.svg?v=OmyMBLenQW', color='#5bbad5')
        link(rel='shortcut icon', href='/favicons/favicon.ico?v=OmyMBLenQW')
        meta(name='apple-mobile-web-app-title', content='Chat')
        meta(name='application-name', content='Chat')
        meta(name='msapplication-config', content='/favicons/browserconfig.xml?v=OmyMBLenQW')
        meta(name='theme-color', content='#ffffff')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='/') Home
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/admin/rooms') Chat Rooms
                    li.nav-item
                        a.nav-link(href='/admin/users') Users
        .container
            .main-content
                block content
