doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src='/jquery.slim.min.js', crossorigin='anonymous', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN')
            script(src='/umd/popper.min.js', crossorigin='anonymous')
            script(src='/js/bootstrap.min.js', crossorigin='anonymous', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1')
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='/')
                img(src="/img/phone-white.png", style="width: 30px;")
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/login') Log In
        br
        .container
            .main-content.row
                .col
                .col-6
                    form(action='/login', method='post')
                        .form-group
                            label Username:
                            input.form-control(type='text', name='username')
                        .form-group
                            label Password:
                            input.form-control(type='password', name='password')
                        .row.justify-content-center
                            .form-group
                                input.btn.btn-primary(type='submit', value='Log In')
                .col